/* 改变主题色变量 */

$--color-primary: #667EFF;
$--text-color: ( 'primary': $textColor, 'regular': $textColor, 'secondary': #909399, 'placeholder': $placeholderColor, );

/* 改变 icon 字体路径变量，必需 */

$--font-path: 'element-plus/theme-chalk/fonts';

/* Checkbox
-------------------------- */

$--checkbox: ( 'background-color': #fff, );

/* Radio
-------------------------- */

$--radio: ( 'input-background-color': transparent, );

/* Input
-------------------------- */

$--input: ( 'font-color': $textColor, 'border': 1px solid #dcdfe6, 'border-color': #dcdfe6, 'border-radius': 4px, 'background-color': transparent, 'icon-color': $placeholderColor, 'placeholder-color': $placeholderColor, );
$--input-disabled: ( 'fill': #f5f7fa, );

/* Select
-------------------------- */

$--select: ();
// $--select-option: ( 'hover-background': #2d3a5c, );
$--select-dropdown: ( 'background': #fff, );

/* Button
-------------------------- */

$--button: ( 'border-color': #dcdfe6, );

/* Dialog
-------------------------- */

$--dialog: ( 'background-color': #fff, );

/* Table
-------------------------- */

$--table: ( 'header-font-color': $textColor, 'row-hover-background-color': #F7F8FA, 'header-background-color': #F7F8FA, 'background-color': #fff, 'tr-background-color': #fff, );

/* Pagination
-------------------------- */

$--pagination: ();

/* Popover
-------------------------- */

$--popover: ( 'background-color': $panelColor, );

/* Tree
-------------------------- */

$--tree: ( 'node-hover-background-color': #fff, );

/* Dropdown
-------------------------- */

$--dropdown: ();

/* Scrollbar
--------------------------*/

$--scrollbar: ( 'opacity': 0.3, 'background-color': var(--el-text-color-secondary), 'hover-opacity': 0.5, 'hover-background-color': var(--el-text-color-secondary), );
// drawer
$--drawer: ( 'background-color': #fff, );
@import 'element-plus/theme-chalk/src/index.scss';